.menu-wrap {
    position: relative;
    z-index: 100;
    max-width: $container-width;
    margin: 0 auto;
    padding: 20px 0;
}

nav.masthead {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

li.menu-item.current-menu-item a:after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ED0000;
    position: relative;
    top: -7px;
}

li.menu-item a {
    display: block;
    font-family: $mono;
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 36px;
    text-decoration: none;
}

li.nav-home a {
    visibility: hidden;
    height: 36px;
    &:before {
        content: "";
        visibility: visible;
        display: block;
        background-image: url(img/logo-red.svg);
        width: 92px;
        height: 36px;
        background-repeat: no-repeat;
        background-position: center bottom;
        height: 36px;
    }
}

/* Mobile Nav */
.hamburger {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    outline: none;
    &.is-active {
        .hamburger__inner {
            transform: translate3d(0, 10px, 0) rotate(45deg);
            background-color: #000;
            &:before {
                transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
                opacity: 0;
                background-color: black;
            }
            &:after {
                transform: translate3d(0, -20px, 0) rotate(-90deg);
                background-color: black;
            }
        }
    }
    &__box {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 24px;
    }
    &__inner {
        display: block;
        margin-top: -2px;
        top: 2px;
        &,
        &:after,
        &:before {
            position: absolute;
            width: 40px;
            height: 4px;
            transition-timing-function: ease;
            transition-duration: 0.15s;
            transition-property: transform;
            border-radius: 4px;
            background-color: #000;
        }

        &:after,
        &:before {
            display: block;
            content: "";
        }

        &:before {
            top: 10px;
            transition-timing-function: ease;
            transition-duration: 0.15s;
            transition-property: transform, opacity;
        }

        &:after {
            bottom: -10px;
            top: 20px;
        }
    }
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.site-header {
    transition: 0.2s;
    position: sticky;
    z-index: 999;
    &.sticky {
        top: 0;
        width: 100%;
        background: white;
        -webkit-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
        z-index: 2;
        @media (min-width: 600px) {
            .admin-bar & {
                top: 32px;
            }
        }
    }
    &__logo {
        transition: 0.2s;
        position: absolute;
        left: 50%;
        top: 25px;
        transform: translate(-50%, 0%);
        display: none;
    }
}

@media (max-width: 1100px) {
    .menu-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 768px) {
    .h-wrapper {
        padding: 16px 0;
    }

    .hamburger {
        display: inline-block;
        margin-left: 16px;
    }

    .menu-wrap {
        padding: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        display: none;
    }

    .masthead {
        overflow: hidden;
        ul {
            flex-direction: column;
            padding: 16px;
            text-align: center;
            background: rgba(255, 255, 255, 0.9);
            .nav-home {
                display: none;
            }
            li {
                width: 100%;
                &:first-child {
                    &:before {
                        content: "";
                        display: block;
                        height: 2px;
                        width: 100%;
                        border: none;
                        background-image: url(img/dot.svg);
                        background-size: 7px 2px;
                        background-position: left;
                    }
                }
                &:after {
                    content: "";
                    display: block;
                    height: 2px;
                    width: 100%;
                    border: none;
                    background-image: url(img/dot.svg);
                    background-size: 7px 2px;
                    background-position: left;
                }
                a {
                    font-size: 18px;
                    padding: 5px 0;
                }
            }
        }
    }

    .logo {
        top: 200px;
    }

    .intro {
        margin-bottom: 140px;
    }

    li.menu-item.current-menu-item a:after {
        display: none;
    }
    .site-header {
        &.show-menu {
            background: transparent;
            z-index: 99;
            .h-wrapper {
                background: white;
            }
            .menu-wrap {
                visibility: visible;
                opacity: 1;
                transform: translate(0, 0);
            }
            .masthead {
                height: auto;
                overflow: visible;
            }
        }
        &__logo {
            display: inline-block;
        }
    }
}
