.projects {
    margin-bottom: 100px;
    margin-top: 160px;
}

.projects-list {
    @extend .reset-list-style;
    position: relative;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 16px;
    width: 1120px;
    margin: 80px auto 30px;

    li {
        margin-bottom: 60px;
        a {
            display: block;
        }
        .project-summary {
            font-size: 12px;
            margin-left: 20px;
            margin-top: 20px;
        }
    }
}

.projects .page-content {
    width: 50%;
    p {
        font-size: 14px;
    }
}

/* ---------------------
* Project Single
* ---------------------*/